.botao{
    
    position: fixed;    
    bottom:  10px;
    right: 20px;
    background-color: #f9db79;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    z-index: 0;
    color: black;
    border: solid 0.5px #000000;
    box-shadow: 5px 5px 3px black;
    
}

.botao:hover{
    background-color: black;
    color: #f9db79;
    
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    .botao{
       display: none;
        bottom: 5px;
        right: 500px;
    }
}


@media screen and (min-width: 100px) and (max-width: 768px){
    .botao{
       display: none;
        bottom: 5px;
        right: 500px;
    }
}

